/*
============================================
; Title: CSS
; Author: K. Pierce
; Date:  Spring 2020
; Modified By: Kimberly Pierce
; Description: CSS
;===========================================
*/


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
